#body {
  background-color: #931B1D;
  color: white;
}

.nav-link, .nav-link:hover {
  color: white;
  cursor: pointer;
}

#a-green {
  background-color: #197D3F;
}

#first-img {
  height: 20em;
  width: auto;
}